/dts-v1/;

/include/ "mt7628an.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	compatible = "Gardena,smartGatewayMT7688", "ralink,mt7628an-soc";
	model = "Gardena smart Gateway MT7688";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x8000000>;
	};

	leds {
		compatible = "gpio-leds";

		power_blue {
			label = "smartgw:power:blue";
			gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		power_green {
			label = "smartgw:power:green";
			gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		power_red {
			label = "smartgw:power:red";
			gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		radio_blue {
			label = "smartgw:radio:blue";
			gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		radio_green {
			label = "smartgw:radio:green";
			gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		radio_red {
			label = "smartgw:radio:red";
			gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		internet_blue {
			label = "smartgw:internet:blue";
			gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		internet_green {
			label = "smartgw:internet:green";
			gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		internet_red {
			label = "smartgw:internet:red";
			gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		ethernet_link {
			label = "smartgw:eth:link";
			gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "netdev";
		};

		ethernet_activity {
			label = "smartgw:eth:act";
			gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "netdev";
		};
	};

	aliases {
		serial0 = &uartlite;
		ethernet0 = &ethernet;
	};
};

&pinctrl {
	state_default: pinctrl0 {
		gpio {
			ralink,group = "gpio", "i2s",
				"p1led_an", "p2led_an", "p3led_an", "p4led_an",
				"spis", "wled_an", "wdt", "sdmode", "refclk",
				"perst", "pwm0", "pwm1";
			ralink,function = "gpio";
		};
	};
};

&spi0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&spi_pins>, <&spi_cs1_pins>;

	m25p80@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;
		m25p,chunked-io = <31>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "uboot";
				reg = <0x0 0xa0000>;
				read-only;
			};

			partition@a0000 {
				label = "uboot_env0";
				reg = <0xa0000 0x10000>;
			};

			partition@b0000 {
				label = "uboot_env1";
				reg = <0xb0000 0x10000>;
			};

			factory: partition@c0000 {
				label = "factory";
				reg = <0xc0000 0x10000>;
				read-only;
			};
		};
	};

	nand_flash@1 {
		compatible = "spi-nand";
		linux,mtd-name = "gd5f";
		reg = <1>;
		spi-max-frequency = <40000000>;
	};
};

&uart1 {
	status = "okay";

	rts-gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
	cts-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
};

&uart2 {
	status = "okay";

	rts-gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
	cts-gpios = <&gpio1 9 GPIO_ACTIVE_LOW>;
};

&i2c {
	status = "okay";
};

&wmac {
	status = "okay";
};

&palmbus {
	bootcount@0x6c {
		compatible = "uboot,bootcount";
		reg = <0x0000006c 0x4>;
	};
};
